<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
    <!--link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css"-->

    <link rel="stylesheet" href="styles/app.css">
  </head>

  <body ng-app="mdPracticeApp" ng-controller="MainCtrl as main" layout="column">

    <md-toolbar layout="row">
      <md-button class="menu" ng-click="main.toggleUsersList()" aria-label="Show User List" hide-gt-sm>
        <md-icon md-svg-src="menu"></md-icon>
      </md-button>

      <h1>Angular Material</h1>
    </md-toolbar>

    <div class="container" layout="row" flex>

      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-4dp">
        <md-list ng-click="main.toggleUsersList()">
          <md-list-item ng-repeat="user in main.users">
            <md-button ng-click="main.setSelected(user)">
              <md-icon md-svg-src="{{user.avatar}}" class="avatar"></md-icon>
              {{user.name}}
            </md-button>
          </md-list-item>
        </md-list>
      </md-sidenav>

      <md-content id="content" class="lightgreen" flex>
        <div layout="row">
          <md-icon md-svg-src="{{main.selected.avatar}}" class="avatar" ></md-icon>

          <a href="views/angular-material-layout-basics.html" >
            <md-button class="menu">Navigate</md-button>
          </a>
        </div>

        <h2>{{main.selected.name}}</h2>
        <p>{{main.selected.content}}</p>
      </md-content>

    </div>

    <!-- below angular dependencies should be used with clear start & end script tags. Else won't work -->
    <!--script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script-- src="../node_modules/angular-material/angular-material.min.js"></script-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>

    <!-- Your application bootstrap  -->
    <!--script type="text/javascript">
      /**
       * You must include the dependency on 'ngMaterial'
       */
      angular.module('BlankApp', ['ngMaterial']);
    </script-->

    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/services/userservice.js"></script>

  </body>
</html>
